<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cf.channelsd">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashActivity"
            android:noHistory="true"
            android:label="@string/channel_showdown">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/main"
            android:parentActivityName=".Activities.SplashActivity" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.InfoActivity"
            android:label="@string/info"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:label="@string/dashboard"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.CreateEventActivity"
            android:label="@string/create_event"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity android:name=".Activities.UpcomingEventActivity"
            android:label="@string/upcoming_event_activity"
            android:parentActivityName=".Activities.DashboardActivity"/>
        <activity
            android:name=".Activities.MyEventActivity"
            android:label="@string/my_event_activity"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.EntriesActivity"
            android:label="@string/entries"
            android:parentActivityName=".Activities.MyEventActivity"/>
        <activity
            android:name=".Activities.ViewProfileActivity"
            android:label="@string/view_profile"
            android:parentActivityName=".Activities.EntriesActivity" />
        <activity
            android:name=".Activities.UploadPhotoActivity"
            android:label="@string/upload_photo"
            android:parentActivityName=".Activities.ProfileActivity"/>
        <activity
            android:name=".Activities.UploadVideoActivity"
            android:label="@string/upload_video"
            android:parentActivityName=".Activities.SelectEditActivity"/>
        <activity
            android:name=".Activities.SelectEditActivity"
            android:label="@string/select_edit"
            android:parentActivityName=".Activities.ProfileActivity" />
        <activity
            android:name=".Activities.UploadThumbnailActivity"
            android:label="@string/upload_thumbnail"
            android:parentActivityName=".Activities.SelectEditActivity" />
    </application>
</manifest>